.App {
  padding: 30px;
}


.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: block;
}

.MyMenuBar{
  display: flex;
  justify-content: space-between;
  width: 153px;
}

.propsPassInListWithUsingMap li{
  margin: 10px;
}

.propsPassInListWithUsingMap li> *{
  margin-left: 5px;
  margin-right: 5px;
}

.line-throughEfficient{
  text-decoration: line-through;
}

.textColorRed{
  color: red;
}

.PROCESSING .hideMyComponent{
  display: none;
}
.DONE .hideMyComponent{
  display: none;
}

.hideMyUnsearchResult{
  display: none;
}


